.user-profile-basic {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
    border-radius: 8px;
  }

  &__pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75rem;
    cursor: pointer;
    &:hover {
      background-color: #dfe4e8;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
  }

  &__name {
    font-weight: 600;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
  }

  &__id {
    color: #666;
    font-size: 0.875rem;
    cursor: pointer;
  }

  &__friend-actions {
    display: flex;
    gap: 0.5rem; // Khoảng cách giữa các nút trong trường hợp WAITING
  }

  &__friend-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.2s;

    &--add {
      background-color: #003ad8;
      color: #fff;
      &:hover {
        background-color: #002bb8;
      }
    }

    &--accept {
      background-color: #28a745;
      color: #fff;
      &:hover {
        background-color: #218838;
      }
    }

    &--cancel {
      background-color: #dc3545;
      color: #fff;
      &:hover {
        background-color: #c82333;
      }
    }
  }
}